@using GMS.Framework.Contract
@using GMS.Framework.Utility
@using GMS.Framework.Web.Controls
@using GMS.Cms.Contract

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "TimeAxis Index";
}
@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
    </style>
}
<h2>TimeAxis Index</h2>
